<style>
 :root {
  --bg-color: 	YELLOWGREEN;
  --fg-color: DARKOLIVEGREEN;
}

html {
  border-top: 5px solid var(--bg-color);
  background: var(--fg-color);
  margin: auto;
}
body {
  font-family: sans-serif;
  padding: 1em;  
  max-width: 800px;
  margin: auto;
}
h1 {
  color: var(--bg-color);
  margin: 0;
}
a, 
a:link,
a:visited {
  color: var(--bg-color);
}
a:hover {
  background: var(--bg-color);
  color: var(--fg-color);
}
a.cta {
  display: inline-block;
  padding: 1em;
  background: var(--bg-color);
  color: var(--fg-color);
  text-decoration: none;
  border-radius: 5px;
}

mark {
  text-decoration: var(--bg-color) wave;
  background: var(--bg-color);
  color: var(--fg-color);
  border: 3px solid var(--bg-color);
  border-radius: 18px 10px;
  
}

.row {
  display: flex; 
}
.column {
  flex: 1;
}

footer {
  color: gray;
  margin-top: 2em;
}

footer .column {
  background: var(--bg-color);
  color: var(--fg-color);
  min-height: 100px;
  border-left: 1px solid var(--fg-color); 
 }
 
 nav {
  margin-bottom: 1em;
 }
</style>
<nav>
  <a href="/"><mark>首頁</mark></a>
 <a href="/about.html"><mark>關於</mark></a>
 <a href="/blog.html"><mark>查詢</mark></a>
</nav>
{{content}}
